<!-- Carousel -->
<div id="myCarousel" class="carousel slide noMarginTop" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="width:100%;height: auto">

        <div class="item active">
            <img src="src/img/first-slide.jpg" alt="Chania" style="width:100%;height: auto">
        </div>

        <div class="item">
            <img src="src/img/second-slide.jpg" alt="Chania" style="width:100%;height: auto">
        </div>

        <div class="item">
            <img src="src/img/third-slide.jpg" alt="Flower" style="width:100%;height: auto">
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color:#0099ff"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:#0099ff"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- End of Carousel -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h1 class="left-margin">
                AlphaMedic
            </h1>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="col-md-4 homeMargin">
            <br/>
            <img src="src/img/hospital.jpg" class="img-thumbnail" alt="alphamedicphoto">
        </div>
        <div class="col-md-8">
            <h3 class="text-justify">
                The project is a WEB-service, which gives functionality for automatization of hospital work. By using this service, the patients can register to receptions, examination, etc. in comfortable time for them for avoiding queues and choose doctor if they
                want. Also they can review their medical history, list of drugs for healing etc. The Medical personal can review their organizer, use flexible tool for documentation the medical history of patient and delegate the process of healing to other doctors.
            </h3>

        </div>
    </div>

    <div class="row topMargin">

        <div class="col-md-1 homeMargin "></div>
        <div class="col-md-7">
            <br/>
            <img src="src/img/achieve.png" style="width:100%" alt="acheives">
        </div>
        <div class="col-md-3 text-right">
            <a href="#/registrationForAppointment">
                <button type="button" class="btn btn-primary btn-lg appointment-button text-primary">Request to Appointment</button>
            </a>
        </div>
    </div>
</div>
<div class="panel panel-default topMargin">
    <div class="panel-body">
        <h3 class="text-center">
            Need help booking? Call XXX at (067) 777-7777 or email xxx@xxx.com
        </h3>
    </div>
</div>
