<div class="container-fluid">
    <h2>Register for appointment</h2>
    <hr class="colorgraph">
    <div class="row" ng-controller="RegisterForAppointmentController">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <br>
            <form class="form-horizontal" ng-submit="submit()">
                <div class="form-group" >
                    <label for="departmentSelect" class="col-sm-3 control-label">Department</label>
                    <div class="col-sm-9">
                      <select class="form-control" ng-model="chooseDep"   ng-change="changeDepartment()"
                      ng-options="department.DepartmentId as department.Name for department in departments">

                      </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="doctorSelect" class="col-sm-3 control-label">Doctor</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="appointment.DoctorId"
                        ng-options="doctor.UserId as (doctor.Name + ' ' + doctor.Surname + ' ' + doctor.StartWorkingTime + '-' + doctor.FinishWorkingTime ) for doctor in doctors |orderBy:Name">

                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="symptoms" class="col-sm-3 control-label">Symptoms*</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" style="resize:none;" required ng-model="appointment.Description" rows="5" id="symptoms" placeholder="Enter your problem here..."></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="col-sm-3 control-label">DateTime</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle my-toggle-select col-sm-9" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                            <div class="input-append">
                                <input  type="text" class="dateInput form-control " id="appointmentDateInput"
                                ng-value="appointment.Date|date:'yyyy-MM-dd HH:mm'"  readonly />
                                <span class="add-on">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="appointment.Date " ></datetimepicker>
                        </ul>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="col-sm-8 control-label">Required fields are noted as follows with an asterics.*
                    </label>
                </div>
                <br>
                <div class="alert alert-success" ng-show="succed">
                    <strong>Success!</strong>
                    Your appointment is successfully created!
                </div>
                <div class="alert alert-danger" ng-show="failed">
                    <strong>Server Error!</strong>
                    Can't create appointment. Please try to do it later.
                </div>
                <div class="alert alert-danger" ng-show="dateFail">
                    <strong>Input Error!</strong>
                    You fill wrong date. Please, choose future date.
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-sm-offset-3">
                            <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg">
                        </div>
                    </div>
                </div>
                <br><br><br><br>
            </form>
            <!-- /form -->
        </div>
    </div>
</div>
